<?xml version="1.0" encoding="UTF-8"?>
<!-- Log4j 2.x 配置文件。每30秒自动检查和应用配置文件的更新； -->
<Configuration monitorInterval="30" strict="true" shutdownHook="disable">
    <Appenders>
        <!-- 输出到控制台 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS}:%4p %t (%F:%L) - %m%n"/>
        </Console>
        <!-- 输出到文件，按天或者超过80MB分割 -->
        <RollingFile name="RollingFile" fileName="./logs/game.log"
                     filePattern="./logs/$${date:yyyy-MM}/game-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS}:%4p %t (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/> <!-- 每半天封存一次数据 -->
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
        <!-- 输出到文件，按天或者超过80MB分割 -->
        <RollingFile name="RollingFileError" fileName="./logs/error.log"
                     filePattern="./logs/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log.gz">
            <!-- 需要记录的级别 -->
            <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS}:%4p %t (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/><!-- 每半天封存一次数据 -->
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
        <!-- 格式化的消息统计信息 -->
        <RollingFile name="msgstats" fileName="./logs/msgstats.log"
                     filePattern="./logs/$${date:yyyy-MM}/msgstats-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS}:%4p %t (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>

        <!-- 格式化的消息统计信息 -->
        <RollingFile name="DBManagerLog" fileName="./logs/db.log"
                     filePattern="./logs/$${date:yyyy-MM}/db-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS}:%4p %t (%F:%L) - %m%n"/>
            <Policies>
                <!-- 				每半天封存一次数据 -->
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>

        <!-- 聊天记录单独一台机器采集 -->
        <Socket name="GameChatLog" protocol="TCP" host="47.106.154.85" port="11111">
            <PatternLayout pattern="%X{GameChatLogVersion} %X{GameChatLogTag} %d{UNIX} %X{ip} %X{platform} %X{shardId} %enc{%m}%n"/>
        </Socket>

        <Socket name="GamePriceLog" protocol="TCP" host="120.79.37.214" port="11111">
            <PatternLayout pattern="%X{GamePriceLogVersion} %X{GamePriceLogTag} %d{UNIX} %X{ip} %X{platform} %X{shardId} %enc{%m}%n"/>
        </Socket>

        <Socket name="GamePlayerLog" protocol="TCP" host="120.79.37.214" port="11111">
            <PatternLayout pattern="%X{GamePlayerLogVersion} %X{GamePlayerLogTag} %d{UNIX} %X{ip} %X{platform} %X{shardId} %enc{%m}%n"/>
        </Socket>

        <Socket name="GameBesignLog" protocol="TCP" host="120.79.37.214" port="11111">
            <PatternLayout pattern="%X{GameBesignLogVersion} %X{GameBesignLogTag} %d{UNIX} %X{ip} %X{platform} %X{shardId} %enc{%m}%n"/>
        </Socket>

        <Socket name="GameMoneyLog" protocol="TCP" host="120.79.37.214" port="11111">
            <PatternLayout pattern="%X{GameMoneyLogVersion} %X{GameMoneyLogTag} %d{UNIX} %X{ip} %X{platform} %X{shardId} %enc{%m}%n"/>
        </Socket>

        <Socket name="GameHelpStepLog" protocol="TCP" host="120.79.37.214" port="11111">
            <PatternLayout pattern="%X{GameHelpStepLogVersion} %X{GameHelpStepLogTag} %d{UNIX} %X{ip} %X{platform} %X{shardId} %enc{%m}%n"/>
        </Socket>

        <Socket name="GameOlineLog" protocol="TCP" host="120.79.37.214" port="11111">
            <PatternLayout pattern="%X{GameOlineLogVersion} %X{GameOlineLogTag} %d{UNIX} %X{ip} %X{platform} %X{shardId} %enc{%m}%n"/>
        </Socket>

        <Socket name="GamePropLog" protocol="TCP" host="120.79.37.214" port="11111">
            <PatternLayout pattern="%X{GamePropLogVersion} %X{GamePropLogTag} %d{UNIX} %X{ip} %X{platform} %X{shardId} %enc{%m}%n"/>
        </Socket>

        <Socket name="GameKeyValLog" protocol="TCP" host="120.79.37.214" port="11111">
            <PatternLayout pattern="%X{GameKeyValLogVersion} %X{GameKeyValLogTag} %d{UNIX} %X{ip} %X{platform} %X{shardId} %enc{%m}%n"/>
        </Socket>
    </Appenders>
    <Loggers>
        <logger name="GameChatLogManager" level="trace" additivity="false">
            <appender-ref ref="GameChatLog"/>
        </logger>
        <logger name="GameBesignLogManager" level="trace" additivity="false">
            <appender-ref ref="GameBesignLog"/>
        </logger>
        <logger name="GamePlayerLogManager" level="trace" additivity="false">
            <appender-ref ref="GamePlayerLog"/>
        </logger>
        <logger name="GamePriceLogManager" level="trace" additivity="false">
            <appender-ref ref="GamePriceLog"/>
        </logger>
        <logger name="GameMoneyLogManager" level="trace" additivity="false">
            <appender-ref ref="GameMoneyLog"/>
        </logger>
        <logger name="GameHelpStepLogManager" level="trace" additivity="false">
            <appender-ref ref="GameHelpStepLog"/>
        </logger>
        <logger name="GameOlineLogManager" level="trace" additivity="false">
            <appender-ref ref="GameOlineLog"/>
        </logger>
        <logger name="GamePropLogManager" level="trace" additivity="false">
            <appender-ref ref="GamePropLog"/>
        </logger>
        <logger name="GameKeyValLogManager" level="trace" additivity="false">
            <appender-ref ref="GameKeyValLog"/>
        </logger>
        <logger name="DBManager" level="trace" additivity="false">
            <appender-ref ref="DBManagerLog"/>
        </logger>
        <logger name="org.quartz" level="error" additivity="false">
            <appender-ref ref="RollingFile"/>
        </logger>
        <logger name="log4j.category.com.jolbox" level="error" additivity="false">
            <appender-ref ref="RollingFile"/>
        </logger>
        <logger name="org.apache.mina.core" level="error" additivity="false">
            <appender-ref ref="RollingFile"/>
        </logger>
        <logger name="org.apache.mina.filter" level="error" additivity="false">
            <appender-ref ref="RollingFile"/>
        </logger>
        <logger name="org.apache.zookeeper" level="info" additivity="false">
            <appender-ref ref="RollingFile"/>
        </logger>
        <logger name="com.ftkj.server.ServerStat" level="info" additivity="false">
            <appender-ref ref="RollingFileError"/>
        </logger>
        <logger name="msgstats" level="DEBUG" additivity="false">
            <appender-ref ref="msgstats"/>
        </logger>

        <logger name="com" level="WARN"/>
        <logger name="net" level="WARN"/>
        <logger name="org" level="WARN"/>
        <logger name="com.ftkj" level="INFO"/>
        <logger name="com.ftkj.xxs" level="INFO"/>
        <logger name="com.ftkj.manager.logic.MessageStatsManager" level="INFO"/>
        <logger name="com.ftkj.server.GameSource" level="DEBUG"/>
        <logger name="com.ftkj.manager.logic.GMManagerPay" level="DEBUG"/>
        <logger name="com.ftkj.server.instance.InstanceFactory" level="INFO"/>
        <!-- msg -->
        <logger name="com.ftkj.server.socket.LogicMethod" level="INFO"/>
        <logger name="com.ftkj.server.syn.SynInvokeThread" level="INFO"/>
        <logger name="com.ftkj.server.proto.coder.GoogleEncoder" level="INFO"/>
        <logger name="com.ftkj.server.rpc" level="INFO"/>
        <logger name="com.ftkj.server.rpc.handler.RPCHandler" level="debug"/>
        <logger name="com.ftkj.server.RPCMessageManager" level="warn"/>
        <logger name="com.ftkj.manager.logic.GameManager" level="INFO"/>
        <logger name="com.ftkj.server.socket.handler.GameSocketHandler" level="debug"/>
        <logger name="com.ftkj.tool.quartz.job.AsynchronousDBJob" level="debug"/>
        <logger name="com.ftkj.console.CM" level="debug"/>
        <!--battle log -->
        <logger name="com.ftkj.manager.battle" level="WARN"/>
        <logger name="com.ftkj.manager.battle.BaseBattleHandle" level="WARN"/>
        <logger name="com.ftkj.manager.battle.BattleAPI" level="WARN"/>
        <logger name="com.ftkj.manager.battle.BattleManager" level="INFO"/>
        <logger name="com.ftkj.manager.battle.model.RoundReport" level="WARN"/>
        <logger name="com.ftkj.manager.battle.BattleHintHandle" level="WARN"/>
        <logger name="com.ftkj.manager.battle.model.RoundSkill" level="WARN"/>
        <logger name="com.ftkj.manager.battle.model.Round" level="WARN"/>
        <logger name="com.ftkj.manager.logic.LocalBattleManager" level="WARN"/>
        <!-- logic -->

        <Root level="INFO"> <!-- 全局配置 -->
            <!-- <AppenderRef ref="Console"/> -->
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="RollingFileError"/>
        </Root>
    </Loggers>
</Configuration>
